.mp-container {
  background-color: #282727;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}
