.mp-container {
  min-width: 600px;
  display: flex;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 26px;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
}

ul {
  overflow: scroll;

  background: transparent;
}

h2 {
  text-align: center;
}
