.container {
  background-color: #282727;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}

.clear-details-button {
  color: red;
  margin-left: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: #e0e0e0;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nutrient-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 16px;
  gap: 15px;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: #e0e0e0;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nutrients-container {
  font-size: 18px;
}

input {
  font-size: 15px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 0.5px solid rgb(255, 252, 252);
  margin-bottom: 5px;
}
h2 {
  font-size: 2em;
}

.message-text {
  font-size: 16px;
  color: #c5c5c5;
}
/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
  .container {
    min-width: unset; /* Remove explicit min-width */
    max-width: 90%; /* Adjust width for smaller screens */
    margin: 0 auto;
    padding: 20px;
    font-size: 22px; /* Base font adjustment for mobile */
  }

  .nutrients-container {
    min-width: unset;
    max-width: 100%; /* Take full width of parent */
    font-size: 18px; /* Font adjustment */
    align-items: center; /* Center the nutrients container */
  }
  .nutrients-container p {
    /* For individual nutrient lines */
    text-align: left; /* Adjust text alignment */
    width: 100%; /* Take full width */
  }

  input {
    width: 100%; /* Ensure input is full width */
    margin: 0;
  }

  h3 {
    font-size: 1.2em; /* Relative to container font size */
    margin: 0;
  }
  span {
    /* For nutrient labels, let flexbox handle alignment within .nutrient-details-grid */
    margin: 0; /* Remove auto margins to avoid conflicts */
  }

  ul {
    width: 100%; /* Ensure ul takes full width */
  }
  ul p {
    font-size: 0.9em;
  }
}
