.container {
  border: solid 1px white;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}

.nutrients-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  margin-left: 10px;
  width: 350px;
  font-size: 20px;
}

input {
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  padding: 3px;
}

ul {
  width: 250px;
  background-color: lightgray;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 20px;

  justify-content: center;
}
p {
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
  align-self: center;
  cursor: pointer;
}
p:hover {
  opacity: 50%;
}
