#root {
  max-width: 100vh;
  display: flex;
  padding: 2rem;
  text-align: center;
  gap: 50px;
  margin: 0 auto;
  min-height: 500px;
}

.nutritracker {
  display: flex;
  gap: 50px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .nutritracker {
    display: flex;
    flex-direction: column;
  }
}
